{% extends 'base.html.twig' %}

{% block title %}Crée Sortie{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Création d'une sortie</h1>
</div>
{{ form_start(SortieForm) }}
    {{ form_widget(SortieForm) }}
    <button type="button" class="btn">Annuler</button>
    <button type="submit" class="btn">Crée Sortie</button>
    {{ form_end(SortieForm) }}
{% endblock %}
