{% extends 'base.html.twig' %}

{% block title %}Créer sortie{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Création d'une sortie</h1>
</div>
{{ form_start(sortieForm) }}
    {{ form_widget(sortieForm) }}
    <button>Ajouter une sortie</button>
    {{ form_end(sortieForm) }}

    <script>
        let elLieu = document.getElementById('sortie_lieu');
        let el = document.getElementById('sortie_ville');
        let ville = el.value;
        // let lieuSelect = null;
        // document.body.onload = function addElement() {
        //     lieuSelect = document.createElement("select");
        //     console.log(lieuSelect);
        //     el.insertAdjacentElement("afterend", lieuSelect);
        //     let lieuOption = document.createElement("option");
        //     lieuOption.appendChild(document.createTextNode("Choisir lieu"));
        //     lieuSelect.insertAdjacentElement("afterbegin", lieuOption);
        // }

        el.onchange = function onChange() {
            ville = el.value;
            recupLieux(ville);
        }

        function recupLieux(ville){
            fetch ('/sortie/recupererLieux/'+ville)
                .then(response => response.json())
                .then(data => {
                    nbOptions = 0 ;
                    data.forEach(d => {
                        elLieu.options[nbOptions] = new Option(d.nom, d.id);
                        nbOptions ++;
                    } )
                })
        }


    </script>
{% endblock %}
